{% extends '::admin.html.twig' %}

{% block content %}
    <section class="section">
        <div class="title-block">
            <h3 class="title">
                Edit sheet for processing in {{ category.name }}<span class="sparkline bar" data-type="bar"></span>
            </h3>
        </div>
        {% include ':admin/sheet/includes:report_form.html.twig' with {form:form} %}
        <a href="{{ path('admin_cms_spreadsheet_delete', {slug: category.slug, id:report.id}) }}"
           class="btn btn-danger"><i class="fa fa-remove"></i> Delete</a>
        <a href="{{ path('admin_cms_rules_index',{id: report.id}) }}" class="btn btn-primary"><i class="fa fa-plus-square-o"></i> Manage rules</a>
    </section>
{% endblock %}