{% extends '::admin.html.twig' %}

{% block content %}
    <section class="section">
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}

        <div class="row sameheight-container">
            <div class="col-xl-12">
                <div class="card sameheight-item stats" data-exclude="xs" style="height: 315px;">
                    <div class="card-block">
                        <div class="title-block">
                            <h4 class="title">
                                Project: {{ category.name }}
                            </h4>
                            <p class="title-description">
                                Add sheets which could be processed
                            </p>
                        </div>
                        <div class="card-header bordered">
                            <div class="header-block">
                                <h3 class="title">
                                    Sheets
                                </h3>
                                <a href="{{ path('admin_cms_spreadsheet_new',{slug:category.slug}) }}" class="btn btn-primary btn-sm rounded">
                                    Add new
                                </a>
                                <a href="{{ path('admin_upload',{slug:category.slug}) }}" class="btn btn-primary btn-sm rounded">
                                    Upload
                                </a>
                            </div>
                        </div>
                        <ul class="item-list striped">
                            <li class="item item-list-header hidden-sm-down">
                                <div class="item-row">
                                    <div class="item-col item-col-header fixed item-col-img xs"></div>
                                    <div class="item-col item-col-header item-col-title">
                                        <div><span>Name</span></div>
                                    </div>
                                    <div class="item-col item-col-header item-col-stats">
                                        <div><span>Sheet name</span></div>
                                    </div>
                                    <div class="item-col item-col-header item-col-sales">
                                        <div class="no-overflow"><span>Description</span></div>
                                    </div>
                                    <div class="item-col item-col-header item-col-date">
                                        <div><span>Mappings</span></div>
                                    </div>
                                    <div class="item-col item-col-header item-col-date">
                                        <div><span>Actions</span></div>
                                    </div>
                                </div>
                            </li>
                            {% for report in category.reports %}
                                <li class="item">
                                    <div class="item-row">
                                        <div class="item-col fixed item-col-img xs">
                                            <a href="{{ path('admin_cms_spreadsheet_edit',{slug:category.slug,id:report.id}) }}">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </div>
                                        <div class="item-col item-col-title no-overflow">
                                            <div>
                                               <div>
                                                    <h4 class="item-title no-wrap">
                                                        {{ report.name }}
                                                    </h4>
                                               </div>
                                            </div>
                                        </div>
                                        <div class="item-col item-col-stats">
                                            <div class="item-heading">Sheet name</div>
                                            <div>{{ report.sheetName }}</div>
                                        </div>
                                        <div class="item-col item-col-sales">
                                            <div class="item-heading">Description</div>
                                            <div>
                                                {{ report.description }}
                                            </div>
                                        </div>
                                        <div class="item-col item-col-date">
                                            <div class="item-heading">Mappings</div>
                                            <div> {{ report.questionCategoryColumns|length }}</div>
                                        </div>
                                        <div class="item-col item-col-date">
                                            <div class="item-heading">Actions</div>
                                            <div>
                                                <a href="{{ path('admin_cms_rules_index',{id: report.id}) }}"
                                                   title="manage rules for loading data from excel">
                                                    <i class="fa fa-table"></i> process
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}