{% extends '::admin.html.twig' %}

{% block content %}
    <section class="section">
        <div class="title-block">
            <h3 class="title">
                Add new sheet for processing in {{ category.name }}<span class="sparkline bar" data-type="bar"></span>
            </h3>
        </div>
        {% include ':admin/sheet/includes:report_form.html.twig' with {form:form} %}
    </section>
{% endblock %}