{% extends '::admin.html.twig' %}

{% block content %}
    <section class="section">
        <div class="title-block">
            <h3 class="title">
                Edit project<span class="sparkline bar" data-type="bar"></span>
            </h3>
        </div>

        {% include ':admin/projectCategory/includes:project_category_form.html.twig' %}
        <a href="{{ path('admin_cms_project_category_delete', {id:category_id}) }}"
           class="btn btn-danger"><i class="fa fa-remove"></i> Delete</a>
    </section>
{% endblock %}