{% extends '::admin.html.twig' %}

{% block content %}
    <section class="section">
        <div class="title-block">
            <h3 class="title">
                Add new project<span class="sparkline bar" data-type="bar"></span>
            </h3>
        </div>

        {% include ':admin/projectCategory/includes:project_category_form.html.twig' %}
    </section>
{% endblock %}