{% extends '::admin.html.twig' %}

{% block content %}
    <section class="section">
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        {% if app.session.flashBag.has('danger') %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% for msg in app.session.flashBag.get('danger') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}

        <div class="row sameheight-container">
            <div class="col-xl-12">
                <div class="card sameheight-item items" data-exclude="xs,sm,lg">
                    <div class="card-header bordered">
                        <div class="header-block">
                            <h3 class="title">
                                History of uploaded
                                excels {% if category is defined %}to project: {{ category.name }}{% endif %}
                            </h3>
                            {% if category is defined %}
                                <a href="{{ path('admin_upload',{slug: category.slug}) }}"
                                   class="btn btn-primary btn-sm rounded">
                                    Add new
                                </a>
                            {% else %}
                                <a href="{{ path('admin_upload',{slug:'cfsi-cmrt'}) }}"
                                   class="btn btn-primary btn-sm rounded">
                                    Add new
                                </a>
                            {% endif %}
                        </div>
                        <div class="header-block pull-right"><label class="search">
                                <input class="search-input" placeholder="search...">
                                <i class="fa fa-search search-icon"></i>
                            </label>
                            <div class="pagination">
                            </div>
                        </div>
                    </div>
                    <ul class="item-list striped">
                        <li class="item item-list-header hidden-sm-down">
                            <div class="item-row">
                                <div class="item-col item-col-header fixed item-col-img xs"></div>
                                <div class="item-col item-col-header item-col-title">
                                    <div><span>Name</span></div>
                                </div>
                                <div class="item-col item-col-header item-col-sales">
                                    <div><span>Uploaded at</span></div>
                                </div>
                                <div class="item-col item-col-header item-col-stats">
                                    <div class="no-overflow"><span>Processed</span></div>
                                </div>
                                <div class="item-col item-col-header item-col-stats">
                                    <div><span>Validated</span></div>
                                </div>
                                <div class="item-col item-col-header item-col-stats">
                                    <div><span>Valid</span></div>
                                </div>
                                <div class="item-col item-col-header item-col-stats">
                                    <div><span>Options</span></div>
                                </div>
                            </div>
                        </li>
                        {% for excel in excels %}
                            <li class="item">
                                <div class="item-row">
                                    {% if excel.valid %}
                                        <div class="item-col fixed item-col-img xs">
                                            <span style="color: green"><i class="fa fa-check-square-o"></i></span>
                                        </div>
                                    {% else %}
                                        <div class="item-col fixed item-col-img xs">
                                            <span style="color: red"><i class="fa fa-remove"></i></span>
                                        </div>
                                    {% endif %}
                                    <div class="item-col item-col-title no-overflow">
                                        <div>
                                            <a href="{{ path('excel_show',{id:excel.id}) }}" class="">
                                                <h4 class="item-title no-wrap">
                                                    {{ excel.filename }}
                                                </h4></a>
                                        </div>
                                    </div>
                                    <div class="item-col item-col-sales">
                                        <div class="item-heading">Created at</div>
                                        <div> {{ excel.createdAt|date('d.m.y H:i') }}</div>
                                    </div>
                                    <div class="item-col item-col-stats">
                                        <div class="item-heading">Processed</div>
                                        <div>
                                            {% if excel.processed %}yes{% else %}no{% endif %}
                                        </div>
                                    </div>
                                    <div class="item-col item-col-stats">
                                        <div class="item-heading">Validated</div>
                                        <div>
                                            {% if excel.validated %}yes{% else %}no{% endif %}
                                        </div>
                                    </div>
                                    <div class="item-col item-col-stats">
                                        <div class="item-heading">Valid</div>
                                        <div>
                                            {% if excel.valid %}
                                                <span style="color: green;">yes</span>
                                            {% else %}
                                                <span style="color: red;">no</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="item-col item-col-stats">
                                        <div class="item-heading">Options</div>
                                        <div>
                                            {% if false == excel.processed %}
                                                <a href="{{ path('excel_process',{id:excel.id}) }}"
                                                   class="btn btn-primary btn-sm rounded">Process Data</a>

                                                <br/>
                                            {% endif %}
                                            {% if excel.processed and false == excel.validated %}
                                                <a href="{{ path('excel_validate',{id:excel.id}) }}"
                                                   class="btn btn-primary btn-sm rounded">Validate Data</a>

                                                <br/>
                                            {% endif %}
                                            {% if excel.processed and false == excel.validated %}
                                                <a href="{{ path('excel_show_processed_data',{id: excel.id}) }}"
                                                   id="processedData" class="btn btn-primary btn-sm rounded">
                                                    Processed Data
                                                </a>

                                                <br/>
                                            {% elseif excel.processed and excel.validated %}
                                                <a href="{{ path('excel_show_processed_data',{id: excel.id}) }}"
                                                   class="btn btn-primary btn-sm rounded">
                                                    Processed Data
                                                </a>
                                                <br/>
                                                <a href="{{ path('excel_show_report_from_validation',{id:excel.id}) }}"
                                                   class="btn btn-primary btn-sm rounded">
                                                    Report from Validation
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}