{% extends '::admin.html.twig' %}

{% block content %}
    <section class="section">
        <div class="row sameheight-container">
            <div class="col-xl-12">
                <div class="card sameheight-item items" data-exclude="xs,sm,lg">
                    <div class="card-header bordered">
                        <div class="header-block">
                            <h3 class="title">
                                {{ excel.filename }}
                            </h3>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="item-list striped">
                                    <li class="item item-list-header hidden-sm-down">
                                        <div class="item-row">
                                            <div class="item-col item-col-header fixed item-col-img xs"></div>
                                            <div class="item-col item-col-header item-col-title">
                                                <div><span>Name</span></div>
                                            </div>
                                            <div class="item-col item-col-header item-col-sales">
                                                <div><span>Uploaded at</span></div>
                                            </div>
                                            <div class="item-col item-col-header item-col-stats">
                                                <div class="no-overflow"><span>Processed</span></div>
                                            </div>
                                            <div class="item-col item-col-header item-col-stats">
                                                <div><span>Validated</span></div>
                                            </div>
                                            <div class="item-col item-col-header item-col-stats">
                                                <div><span>Valid</span></div>
                                            </div>
                                            <div class="item-col item-col-header item-col-stats">
                                                <div><span>Options</span></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="item-row">
                                            {% if excel.valid %}
                                                <div class="item-col fixed item-col-img xs">
                                                    <span style="color: green"><i
                                                                class="fa fa-check-square-o"></i></span>
                                                </div>
                                            {% else %}
                                                <div class="item-col fixed item-col-img xs">
                                                    <span style="color: red"><i class="fa fa-remove"></i></span>
                                                </div>
                                            {% endif %}
                                            <div class="item-col item-col-title no-overflow">
                                                <div>
                                                    <h4 class="item-title no-wrap">
                                                        {{ excel.filename }}
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="item-col item-col-sales">
                                                <div class="item-heading">Uploaded at</div>
                                                <div> {{ excel.createdAt|date('d.m.y H:i') }}</div>
                                            </div>
                                            <div class="item-col item-col-stats">
                                                <div class="item-heading">Processed</div>
                                                <div>
                                                    {% if excel.processed %}yes{% else %}no{% endif %}
                                                </div>
                                            </div>
                                            <div class="item-col item-col-stats">
                                                <div class="item-heading">Validated</div>
                                                <div>
                                                    {% if excel.validated %}yes{% else %}no{% endif %}
                                                </div>
                                            </div>
                                            <div class="item-col item-col-stats">
                                                <div class="item-heading">Valid</div>
                                                <div>
                                                    {% if excel.valid %}
                                                        <span style="color: green;">yes</span>
                                                    {% else %}
                                                        <span style="color: red;">no</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="item-col item-col-stats">
                                                <div class="item-heading">Options</div>
                                                <div>
                                                    {% if excel.processed and false == excel.validated %}
                                                        <a href="{{ path('excel_show_processed_data',{id: excel.id}) }}"
                                                           id="processedData" class="btn btn-primary btn-sm rounded">
                                                            Processed Data
                                                        </a>

                                                        <br/>
                                                    {% elseif excel.processed and excel.validated %}
                                                        <a href="{{ path('excel_show_processed_data',{id: excel.id}) }}"
                                                           class="btn btn-primary btn-sm rounded">
                                                            Processed Data
                                                        </a>
                                                        <br/>
                                                        <a href="{{ path('excel_show_report_from_validation',{id:excel.id}) }}"
                                                           class="btn btn-primary btn-sm rounded">
                                                            Report from Validation
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>


                                <div id="processing"
                                     style="height: 43px;overflow-y: scroll;background: lightgrey; padding-top: 10px; display: none">
                                    ...processing
                                </div>
                                <div class="clearfix"></div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        $(document).ready(function () {
            {% if not excel.processed %}
            process();
            {% elseif not excel.validated %}
            validate();
            {% endif %}
        });

        function process() {
            $('#processing').show();
            var url = '{{ path('excel_process',{id:excel.id}) }}';
            $.ajax({
                beforeSend: function () {
                    $('#ajax-loader').show();
                    $('#ajax-loader').find('small').html('...processing');
                },
                url: url,
                method: 'POST',
                success: function () {
                    $('#ajax-loader').hide();
                    $('#processing').html('Starting data validation ...');
                    validate();
                },
                error: function (response) {
                    $('#ajax-loader').hide();
                    $('#processing').html(JSON.parse(response.responseText).message);
                }
            });
        }


        function validate() {
            $('#processing').show();
            var url = '{{ path('excel_validate',{id:excel.id}) }}';
            $.ajax({
                beforeSend: function () {
                  $('#ajax-loader').show();
                    $('#ajax-loader').find('small').html('...validating')
                },
                url: url,
                method: 'POST',
                success: function (response) {
                    $('#ajax-loader').hide();
                    $('#processing').html(response.message);
                    window.location.href = response.url;
                },
                error: function (response) {
                    $('#ajax-loader').hide();
                    $('#processing').html(JSON.parse(response.responseText).message);
                    window.location.href = JSON.parse(response.responseText).url;
                }
            })
        }
    </script>
{% endblock %}