{% extends '::admin.html.twig' %}

{% block content %}
    <section class="section">
        <div class="row sameheight-container">
            <div class="col-xl-12">
                <div class="card sameheight-item items" data-exclude="xs,sm,lg">
                    <div class="card-header bordered">
                        <div class="header-block">
                            <h3 class="title">
                                Report from validation: {{ excel.filename }}
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if (logs|length == 0 and errors|length == 0)  or errors|length>0 %}
        <section class="section">
            <div class="row sameheight-container">
                <div class="col-xl-12">
                    <div class="card sameheight-item items" data-exclude="xs,sm,lg">
                        <div class="card-header bordered">
                            <div class="header-block">
                                <h3 class="title" style="color: red">
                                    Errors
                                </h3>
                            </div>
                        </div>

                        <div class="card-block">
                            <div class="row">
                                <div class="col-lg-12">
                                    <ul class="item-list striped">
                                        {% if errors|length > 0 %}
                                            {% for error in errors %}
                                                <li class="item">
                                                    <div class="item-row">
                                                        {{ error }}
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        {% else %}
                                            <li class="item">
                                                <div class="item-row">
                                                    No errors!
                                                </div>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    <section class="section">
        <div class="row sameheight-container">
            <div class="col-xl-12">
                <div class="card sameheight-item items" data-exclude="xs,sm,lg">
                    <div class="card-header bordered">
                        <div class="header-block">
                            <h3 class="title" style="color: green">
                                Passed validations rules
                            </h3>
                        </div>
                    </div>

                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="item-list striped">
                                    {% if logs|length > 0 %}
                                        {% for log in logs %}
                                            <li class="item">
                                                <div class="item-row">
                                                    {{ log }}
                                                </div>
                                            </li>
                                        {% endfor %}
                                    {% else %}
                                        <li class="item">
                                            <div class="item-row">
                                                No validation rules!
                                            </div>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


{% endblock %}



