{% extends '::admin.html.twig' %}

{% block content %}
    <section class="section">
        <div class="row sameheight-container">
            <div class="col-xl-12">
                <div class="card sameheight-item items" data-exclude="xs,sm,lg">
                    <div class="card-header bordered">
                        <div class="header-block">
                            <h3 class="title">
                                Processed data from: {{ excel.filename }}
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% for report in reports %}
        <section class="section">
            <div class="row sameheight-container">
                <div class="col-xl-12">
                    <div class="card sameheight-item items" data-exclude="xs,sm,lg">
                        <div class="card-block">
                            {% include ':admin/default/includes:data.html.twig' with {report: report} %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}

{% endblock %}

