{% extends '::admin.html.twig' %}

{% block content %}
    <section class="section">
        <div class="row sameheight-container">
            <div class="col-md-12">
                <div class="card card-block sameheight-item" style="height: 711px;">
                    <div class="title-block">
                        <h3 class="title">
                            Please select a valid Microsoft Excel file (.xlsx)
                        </h3></div>
                    {{ form_start(upload_form) }}
                    <div class="form-group">
                        {{ form_widget(upload_form.file) }}
                        {{ form_errors(upload_form.file) }}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg">Submit your file for validation</button>
                    </div>
                    {{ form_end(upload_form) }}
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}