{% extends '::admin.html.twig' %}

{% block content %}
    <section class="section">
        <div class="row sameheight-container">
            <div class="col-xl-12">
                <div class="card sameheight-item" data-exclude="xs" style="height: 315px;">
                    <div class="card-block">
                        <div class="title-block">
                            <h4 class="title">
                                Validation Rules
                            </h4>
                            <p class="title-description">
                                Setup validation rules for: {{ category.name }}
                            </p>
                        </div>
                        <div class="row row-sm">
                            <a class="btn btn-info"
                               href="{{ path('cms_simplevalidation_index',{slug:category.slug}) }}">Simple validations
                                rules ({{ category_service.getAutoRunSimpleValidationRules(category.slug,true)|length }}/{{ category_service.getAutoRunSimpleValidationRules(category.slug,false)|length }})</a>
                        </div>
                        <div class="row row-sm">
                            <a class="btn btn-info"
                               href="{{ path('cms_advancedvalidation_index',{slug:category.slug}) }}">Advanced
                                validation
                                rules ({{ category.advancedValidations|length }})</a>

                        </div>
                        <div class="row row-sm">
                            <a class="btn btn-info"
                               href="{{ path('cms_listvalidation_index',{slug:category.slug}) }}">External list
                                validations
                                rules ({{ category_service.externalListSimpleValidationRules(category.slug, true)|length }}/{{ category_service.externalListSimpleValidationRules(category.slug, false)|length }})</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}