{{ form_start(form) }}
<div class="card card-block">
    {{ form_errors(form) }}
    <div class="form-group row">
        {{ form_label(form.type, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.type,{attr:{class:'form-control boxed compare-type'}}) }}
            {{ form_errors(form.type) }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.name, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.name,{attr:{class:'form-control boxed compare-type'}}) }}
            {{ form_errors(form.name) }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.description, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.description,{attr:{class:'form-control boxed compare-type'}}) }}
            {{ form_errors(form.description) }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.autoRun, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            <label>
                {{ form_widget(form.autoRun,{attr:{class:'checkbox'}}) }}
                <span> </span>
            </label>
            <br>
            <small style="color: maroon">
                Leave unchecked if you want this rule to run only in an advanced validation rule!
            </small>
        </div>
    </div>
    <hr>
    <div class="form-group row">
        {{ form_label(form.sourceList, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.sourceList,{attr:{class:'form-control boxed'}}) }}
            {{ form_errors(form.sourceList) }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.sourceField, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.sourceField,{attr:{class:'form-control boxed'}}) }}
            {{ form_errors(form.sourceField) }}
            <small style="color: maroon">Provide an excel column name e.g. A or B</small>
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.sourceField2, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.sourceField2,{attr:{class:'form-control boxed'}}) }}
            {{ form_errors(form.sourceField2) }}
            <small style="color: maroon">Provide an excel column name e.g. A or B</small>
        </div>
    </div>

    <div class="form-group row">
        {{ form_label(form.externalList, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.externalList,{attr:{class:'form-control boxed'}}) }}
            {{ form_errors(form.externalList) }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.compareTo, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.compareTo,{attr:{class:'form-control boxed'}}) }}
            {{ form_errors(form.compareTo) }}
            <small style="color: maroon">Provide an excel column name e.g. A or B</small>
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.compareTo2, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.compareTo2,{attr:{class:'form-control boxed'}}) }}
            {{ form_errors(form.compareTo2) }}
            <small style="color: maroon">Provide an excel column name e.g. A or B</small>
        </div>
    </div>
    <hr>
    <div class="form-group row">
        {{ form_label(form.displayCode, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.displayCode,{attr:{class:'form-control boxed'}}) }}
            {{ form_errors(form.displayCode) }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.displayReason, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.displayReason,{attr:{class:'form-control boxed'}}) }}
            {{ form_errors(form.displayReason) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12">
            <button type="submit" class="btn btn-success pull-right">Submit</button>
        </div>
    </div>
</div>
{{ form_end(form) }}