<section class="section">
    <div class="row sameheight-container">
        <div class="col-xl-12">
            <div class="card sameheight-item items" data-exclude="xs,sm,lg">
                <div class="card-block">
                    <div class="card-header">
                        <div class="header-block">
                            <h3 class="title">
                                External List Validations for ADVANCED VALIDATIONS RULES
                            </h3>
                            <a href="{{ path('cms_listvalidation_new',{slug:category.slug}) }}"
                               class="btn btn-primary btn-sm rounded">
                                Add new
                            </a>
                        </div>
                    </div>

                    <div class="row row-sm">
                        <table class="table table-striped table-bordered table-hover">
                            <thead class="">
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Source list ID</th>
                                <th>Source column</th>
                                <th>External list</th>
                                <th>Compare to column</th>
                                <th>Pass Message</th>
                                <th>Error Message</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for simpleValidation in notAutoRunValidations %}
                                <tr>
                                    <td>
                                        <a href="{{ path('cms_listvalidation_show', { 'id': simpleValidation.id }) }}">{{ simpleValidation.name }}</a>
                                    </td>
                                    <td>{{ simpleValidation.type }}</td>
                                    <td>{{ simpleValidation.sourceList }}</td>
                                    <td>{{ simpleValidation.sourceField }}</td>
                                    <td>{{ simpleValidation.externalList.name }}</td>
                                    <td>{{ simpleValidation.compareTo }}</td>
                                    <td>{{ simpleValidation.displayCode }}</td>
                                    <td>{{ simpleValidation.displayReason }}</td>
                                    <td>
                                        <a href="{{ path('cms_listvalidation_show', { 'id': simpleValidation.id }) }}"
                                           title="show">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a href="{{ path('cms_listvalidation_edit', { 'id': simpleValidation.id }) }}"
                                           title="edit">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>