{% extends '::base.html.twig' %}
{% block body %}
    <div class="main-wrapper">
        <div class="app" id="app">
            <header class="header">
                <div class="header-block header-block-collapse hidden-lg-up">
                    <button class="collapse-btn" id="sidebar-collapse-btn">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="header-block header-block-search hidden-sm-down">
                    <form role="search">
                        <div class="input-container"><i class="fa fa-search"></i>
                            <input type="search" placeholder="Search">
                            <div class="underline"></div>
                        </div>
                    </form>
                </div>
                <div class="header-block header-block-buttons">
                    {#<a href="https://github.com/modularcode/modular-admin-html/releases/download/v1.0.1/modular-admin-html-1.0.1.zip"#}
                       {#class="btn btn-oval btn-sm rounded-s header-btn"> <i class="fa fa-cloud-download"></i> Download#}
                        {#.xls </a>#}
                    <a href="{{ path('admin_upload',{slug:'cfsi-cmrt'}) }}"
                       class="btn btn-oval btn-sm rounded-s header-btn"> <i class="fa fa-upload"></i> Upload to CFSI_CMRT</a>
                </div>
                <div class="header-block header-block-nav">
                    <ul class="nav-profile">
                        <li class="profile dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                <div class="img"
                                     style="background-image: url('{{ asset('assets/avatar.png') }}')">
                                </div>
                                <span class="name">
    			      {{ app.user.email }}
    			    </span> </a>
                            <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
                                <a class="dropdown-item" href="#"> <i class="fa fa-user icon"></i> Profile </a>
                                <a class="dropdown-item" href="#"> <i class="fa fa-gear icon"></i> Settings </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('logout') }}"> <i
                                            class="fa fa-power-off icon"></i> Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            <aside class="sidebar">
                <div class="sidebar-container">
                    <div class="sidebar-header">
                        <div class="brand">
                            <div class="logo"><span class="l l1"></span> <span class="l l2"></span> <span
                                        class="l l3"></span> <span class="l l4"></span> <span class="l l5"></span></div>
                            {{ 'Data Validator'|trans }}
                        </div>
                    </div>
                    <nav class="menu">
                        <ul class="nav metismenu" id="sidebar-menu">
                            <li class="">
                                <a href="#"> <i class="fa fa-home"></i> Dashboard <i class="fa arrow"></i> </a>
                                <ul>
                                    {% for category in category_service.allCategories %}
                                        <li><a href="{{  path('admin_homepage',{slug: category.slug}) }}">{{ category.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <a href="{{ path('admin_cms_index') }}"> <i class="fa fa-home"></i> Admin <i class="fa arrow"></i> </a>
                                {#<ul>#}
                                    {#{% for category in category_service.allCategories %}#}
                                        {#<li><a href="{{  path('admin_cms_spreadsheet_index',{slug: category.slug}) }}">{{ category.name }}</a></li>#}
                                    {#{% endfor %}#}
                                {#</ul>#}
                            </li>
                        </ul>
                    </nav>
                </div>
            </aside>
            <div class="sidebar-overlay" id="sidebar-overlay"></div>
            <article class="content dashboard-page">
                {% block content %}
                {% endblock %}
            </article>
            <footer class="footer">
                <div class="footer-block buttons">
                    created by <a href="http://web-solutions.sk/" target="_blank">WEB-SOLUTIONS</a>
                </div>
                <div class="footer-block author">
                    <a href="mailto:jk@web-solutions.sk">get in touch</a>
                </div>
            </footer>
        </div>
    </div>
{% endblock %}