{% extends 'base.html.twig' %}

{% block body %}
    <div class="auth">
        <div class="auth-container">
            <div class="card">
                <header class="auth-header">
                    <h1 class="auth-title">
                        <div class="logo">
                            <span class="l l1"></span>
                            <span class="l l2"></span>
                            <span class="l l3"></span>
                            <span class="l l4"></span>
                            <span class="l l5"></span>
                        </div>
                        {{ 'Data Validator'|trans }}
                    </h1>
                </header>
                <div class="auth-content">
                    <p class="text-xs-center">LOGIN TO CONTINUE</p>
                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <form id="login-form" action="{{ path('login_check') }}" method="POST">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="email" class="form-control underlined" name="_username" id="username"
                                   placeholder="Your email address" required value="{{ last_username }}">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control underlined" name="_password" id="password"
                                   placeholder="Your password" required>
                        </div>
                        <div class="form-group">
                            <label for="remember">
                                <input class="checkbox" id="remember" type="checkbox">
                                <span>Remember me</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}