{{ form_start(form) }}
<div class="card card-block">
    {{ form_errors(form) }}
    <div class="form-group row">
        {{ form_label(form.name, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.name,{attr:{class:'form-control boxed'}}) }}
            {{ form_errors(form.name) }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.description, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.description,{attr:{class:'form-control boxed'}}) }}
            {{ form_errors(form.description) }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-2 form-control-label text-xs-right">Please Note!</label>

        <div class="col-lg-10">
            <p>You can provide a coma separated list of rows to proccess or you can define the START and/or END od rows
                to process. If both are defined, Row Start and End are ignored</p>
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.rows, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.rows,{attr:{class:'form-control boxed'}}) }}
            {{ form_errors(form.rows) }}
            <small>Please enter a coma separated list of numbers</small>
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.rowStart, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.rowStart,{attr:{class:'form-control boxed'}}) }}
            {{ form_errors(form.rowStart) }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.rowEnd, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.rowEnd,{attr:{class:'form-control boxed'}}) }}
            {{ form_errors(form.rowEnd) }}
            <small style="color: maroon">Please reconsider entering a higher range than 100 as the application may break!
            </small>
        </div>

    </div>
    <div class="form-group row">
        {{ form_label(form.useAsList, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            <label>
                {{ form_widget(form.useAsList,{attr:{class:'checkbox'}}) }}
                <span> </span>
            </label>
            <br>
            <small style="color: maroon">
                Chceck only if you would like to use this group as a List in further validation rules
            </small>
        </div>

    </div>
    <div class="form-group row">
        <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" class="btn btn-success">
                Submit
            </button>
        </div>
    </div>
</div>
{{ form_end(form) }}