{{ form_start(form) }}
<div class="card card-block">
    {{ form_errors(form) }}
    <div class="form-group row">
        {{ form_label(form.name, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.name,{attr:{class:'form-control boxed'}}) }}
            {{ form_errors(form.name) }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.col, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.col,{attr:{class:'form-control boxed'}}) }}
            {{ form_errors(form.col) }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.isDate, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            <label>
                {{ form_widget(form.isDate,{attr:{class:'checkbox'}}) }}
                <span> </span>
            </label>
            <br>
            <small style="color: maroon">
                Leave unchecked if you don't expect this column to be DATE!
            </small>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" class="btn btn-success">
                Submit
            </button>
        </div>
    </div>
</div>
{{ form_end(form) }}