{% extends '::admin.html.twig' %}

{% block content %}
    <section class="section">
        <div class="title-block">
            <h3 class="title">
                Edit question group in {{ questionCategory.report.name }} ({{ questionCategory.report.sheetName }})<span class="sparkline bar" data-type="bar"></span>
            </h3>
        </div>
        {% include ':admin/questionCategory/includes:question_category_form.html.twig' with {form:form} %}
        <a href="{{ path('admin_cms_question_category_delete', {id: questionCategory.id}) }}"
           class="btn btn-danger"><i class="fa fa-remove"></i> Delete</a>
        <a href="{{ path('admin_cms_column_new',{questionCategoryId: questionCategory.id}) }}" class="btn btn-primary"><i class="fa fa-plus-square-o"></i> Add Column</a>
    </section>
{% endblock %}

