{% extends '::admin.html.twig' %}

{% block content %}
    <section class="section">
        <div class="title-block">
            <h3 class="title">
                Add new question group in {{ report.name }} ({{ report.sheetName }})<span class="sparkline bar" data-type="bar"></span>
            </h3>
        </div>
        {% include ':admin/questionCategory/includes:question_category_form.html.twig' with {form:form} %}
    </section>
{% endblock %}