{{ form_start(form) }}
<div class="card card-block">
    {{ form_errors(form) }}
    <div class="form-group row">
        {{ form_label(form.name, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.name,{attr:{class:'form-control boxed compare-type'}}) }}
            {{ form_errors(form.name) }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.description, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.description,{attr:{class:'form-control boxed compare-type'}}) }}
            {{ form_errors(form.description) }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.logic, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.logic,{attr:{class:'form-control boxed compare-type'}}) }}
            {{ form_errors(form.logic) }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.simpleValidations, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.simpleValidations,{attr:{class:'form-control boxed compare-type'}}) }}
            {{ form_errors(form.simpleValidations) }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.childrenAdvancedValidations, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.childrenAdvancedValidations,{attr:{class:'form-control boxed compare-type'}}) }}
            {{ form_errors(form.childrenAdvancedValidations) }}
            <p style="color: maroon">Please pay attention, not to create a circular reference e.g. one group will hold
                another group as its
                child but this child holds the privous as its child. This will lead to system failure. We recommend to
                create only one level of advanced validation trees.</p>
        </div>
    </div>
    <hr>
    <div class="form-group row">
        {{ form_label(form.displayCode, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.displayCode,{attr:{class:'form-control boxed'}}) }}
            {{ form_errors(form.displayCode) }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.displayReason, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.displayReason,{attr:{class:'form-control boxed'}}) }}
            {{ form_errors(form.displayReason) }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.displayMessage, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            {{ form_widget(form.displayMessage,{attr:{class:'form-control boxed'}}) }}
            {{ form_errors(form.displayMessage) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12">
            <button type="submit" class="btn btn-success pull-right">Submit</button>
        </div>
    </div>
</div>
{{ form_end(form) }}
<script type="text/javascript">
    $('select').select2();
</script>