/*
.NFI-wrapper {}
.NFI-button {}
.NFI-button:hover {}
.NFI-filename {}
.NFI-current {}
*/
/* Nice File Input */
.NFI-wrapper {
    width: 100%;
    max-width: 660px;
}

.nicefileinput {
    border: solid #369 1px;
    background: #fff;
    display: block;
    width: 100%;
    max-width: 660px;
    box-shadow: 0 0 0 2px #fff;
}

.NFI-button {
    height: 40px;
    line-height: 40px;
    background: #369;
    color: #fff;
    width: 30%;
}

.NFI-button:hover {
    background: #147;
}

.NFI-filename {
    display: block;
    width: 70%;
    height: 40px;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

.NFI-filename:focus {
    border: none;
}