{% extends '::admin.html.twig' %}

{% block content %}
    <section class="section">
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        <div class="row sameheight-container">
            <div class="col-xl-12">
                <div class="card sameheight-item stats" data-exclude="xs" style="height: 315px;">
                    <div class="card-block">
                        <div class="title-block">
                            <h4 class="title">
                                Admin CMS
                            </h4>
                            <p class="title-description">
                                Configure rules for excel mapping and validation
                            </p>
                        </div>
                        <div class="card-header bordered">
                            <div class="header-block">
                                <h3 class="title">
                                    Projects
                                </h3>
                                <a href="{{ path('admin_cms_project_category_new') }}"
                                   class="btn btn-primary btn-sm rounded">
                                    Add new
                                </a>
                            </div>
                        </div>
                        <ul class="item-list striped">
                            <li class="item item-list-header hidden-sm-down">
                                <div class="item-row">
                                    <div class="item-col item-col-header fixed item-col-img xs"></div>
                                    <div class="item-col item-col-header item-col-title">
                                        <div><span>Name</span></div>
                                    </div>
                                    <div class="item-col item-col-header item-col-sales">
                                        <div><span>Description</span></div>
                                    </div>
                                    <div class="item-col item-col-header item-col-stats">
                                        <div class="no-overflow"><span>Sheet mappings</span></div>
                                    </div>
                                    <div class="item-col item-col-header item-col-stats">
                                        <div><span>Processed Excels</span></div>
                                    </div>
                                    <div class="item-col item-col-header item-col-stats">
                                        <div><span>Validation rules</span></div>
                                    </div>
                                    <div class="item-col item-col-header item-col-stats">
                                        <div><span>Validated Excels</span></div>
                                    </div>
                                    <div class="item-col item-col-header item-col-stats">
                                        <div><span>Actions</span></div>
                                    </div>
                                </div>
                            </li>
                            {% for category in categories %}
                                <li class="item">
                                    <div class="item-row">
                                        <div class="item-col fixed item-col-img xs">
                                            <a href="{{ path('admin_cms_project_category_edit',{id: category.id}) }}">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </div>
                                        <div class="item-col item-col-sales">
                                            <div class="item-heading">Name</div>
                                            <div>{{ category.name }}</div>
                                        </div>
                                        <div class="item-col item-col-sales">
                                            <div class="item-heading">Description</div>
                                            <div>{{ category.description }}</div>
                                        </div>
                                        <div class="item-col item-col-stats">
                                            <div class="item-heading">Sheet mappings</div>
                                            <div>
                                                {{ category.reports|length }}
                                            </div>
                                        </div>
                                        <div class="item-col item-col-stats">
                                            <div class="item-heading">Processed Excels</div>
                                            <div>
                                                <a href="{{ path('admin_homepage',{slug: category.slug}) }}">
                                                {{ excel_service.allProcessedExcelsForCategory(category,true) }}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item-col item-col-stats">
                                            <div class="item-heading">Validations rules</div>
                                            <div>
                                                {{ category_service.allValidationsRules(category.slug, true) }}
                                            </div>
                                        </div>
                                        <div class="item-col item-col-stats">
                                            <div class="item-heading">Validated Excels</div>
                                            <div>
                                                {{ excel_service.allValidatedExcelsForCategory(category,true) }}
                                            </div>
                                        </div>
                                        <div class="item-col item-col-stats">
                                            <div class="item-heading">Actions</div>
                                            <div>
                                                <a href="{{ path('admin_cms_validation_index',{slug: category.slug}) }}"
                                                   title="manage rules for validation">
                                                    <i class="fa fa-check-square-o"></i> validation
                                                </a>
                                                <br/>
                                                <a href="{{ path('admin_cms_spreadsheet_index',{slug: category.slug}) }}"
                                                   title="manage rules for loading data from excel">
                                                    <i class="fa fa-table"></i> process
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}