<div class="title-block">
    <h4 class="title">
        {{ report.name }} ({{ report.sheetName }})
    </h4>
    <p class="title-description">
        Question groups for the selected excel sheet
    </p>
</div>

<div class="row row-sm">
    <div class="col-lg-12">
        {% for group in report.questionCategories %}
            <div class="row">
                <div class="col-lg-12">{{ group.name }} {{ group.description }}</div>
            </div>
            {% if group.columns|length>0 %}
                <table class="table table-striped table-bordered table-hover">
                    <thead class="">
                    <tr>
                        {% for column in group.columns %}
                            <th>{{ column.name }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in excel_data.getRowsForLoop(group, excel) %}
                        <tr>
                            {% for column in group.columns %}
                                <td>{{ excel_data.getValueForColumnRow(excel , group , row , column.col) }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endfor %}
    </div>
</div>