{% extends '::admin.html.twig' %}

{% block content %}
    <section class="section">
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        <div class="row sameheight-container">
            <div class="col-xl-12">
                <div class="card sameheight-item items" data-exclude="xs,sm,lg">
                    <div class="card-header bordered">
                        <div class="header-block">
                            <h3 class="title">
                                Validation Rules
                            </h3>
                            <p class="title-description">
                                Advanced Validation rules list for project: {{ category.name }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row sameheight-container">
            <div class="col-xl-12">
                <div class="card sameheight-item items" data-exclude="xs,sm,lg">
                    <div class="card-block">
                        <div class="card-header">
                            <div class="header-block">
                                <h3 class="title">
                                    ADVANCED Validations
                                </h3>
                                <a href="{{ path('cms_advancedvalidation_new',{slug:category.slug}) }}"
                                   class="btn btn-primary btn-sm rounded">
                                    Add new
                                </a>
                            </div>
                        </div>

                        <div class="row row-sm">
                            <table class="table table-striped table-bordered table-hover">
                                <thead class="">
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Decsription</th>
                                    <th>Logic</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for advancedValidation in advancedValidations %}
                                    <tr>
                                        <td>{{ advancedValidation.Id }}</td>
                                        <td>{{ advancedValidation.Name }}</td>
                                        <td>{{ advancedValidation.Description }}</td>
                                        <td>{{ advancedValidation.logic }}</td>
                                        <td>
                                            <a href="{{ path('cms_advancedvalidation_edit',{id: advancedValidation.Id }) }}">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

