{% extends '::admin.html.twig' %}

{% block content %}
    <section class="section">
        <div class="title-block">
            <h3 class="title">
                Add a New Advanced Validation Rule
            </h3>
        </div>
        {% include 'admin/advancedvalidation/includes/form.html.twig' %}

        <a class="btn btn-warning"
           href="{{ path('cms_advancedvalidation_index',{slug:category.slug}) }}">Back to the list</a>
    </section>
{% endblock %}


