{% extends '::admin.html.twig' %}

{% block content %}
    <section class="section">
        <div class="title-block">
            <h3 class="title">
                Edit a Simple Validation Rule
            </h3>
        </div>
        {% include ':admin/simplevalidation/includes:form.html.twig' with {form:edit_form} %}

        {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Delete">
        {{ form_end(delete_form) }}

        <a class="btn btn-primary"
           href="{{ path('cms_simplevalidation_index',{slug:simpleValidation.category.slug}) }}">Back
            to the list</a>
    </section>
{% endblock %}
