{% extends '::admin.html.twig' %}

{% block content %}
    <section class="section">
        <div class="title-block">
            <h3 class="title">
                Add a New Simple Validation Rule
            </h3>
        </div>
        {% include ':admin/simplevalidation/includes:form.html.twig' %}

        <a class="btn btn-warning"
           href="{{ path('cms_simplevalidation_index',{slug:category.slug}) }}">Back to the list</a>
    </section>
{% endblock %}
