{% extends '::admin.html.twig' %}

{% block content %}
    <section class="section">
        <div class="title-block">
            <h3 class="title">
                Show Simple Validation Rule
            </h3>
        </div>
        <table class="table table-striped table-bordered table-hover table-responsive">
            <tr>
                <th>Type</th>
                <td>{{ simpleValidation.type }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ simpleValidation.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ simpleValidation.description }}</td>
            </tr>
            <tr>
                <th>AUTO Run</th>
                <td>{% if simpleValidation.autoRun %}yes{% else %}no{% endif %}</td>
            </tr>
            {% if  simpleValidation.sourceField %}
                <tr>
                    <th>Source Field</th>
                    <td>{{ simpleValidation.sourceField }}</td>
                </tr>
            {% endif %}
            {% if  simpleValidation.sourceList %}
                <tr>
                    <th>Source List ID</th>
                    <td>{{ simpleValidation.sourceList }}</td>
                </tr>
            {% endif %}

            {% if simpleValidation.sourceSheet %}
                <tr>
                    <th>Source Sheet</th>
                    <td>{{ simpleValidation.sourceSheet }}</td>
                </tr>
            {% endif %}

            {% if simpleValidation.compareTo %}
                <tr>
                    <th>Compare To</th>
                    <td>{{ simpleValidation.compareTo }}</td>
                </tr>
            {% endif %}

            {% if simpleValidation.compareToSheet %}
                <tr>
                    <th>Compare To Sheet</th>
                    <td>{{ simpleValidation.compareToSheet }}</td>
                </tr>
            {% endif %}

            <tr>
                <th>Display Code</th>
                <td>{{ simpleValidation.displayCode }}</td>
            </tr>
            <tr>
                <th>Displayreason</th>
                <td>{{ simpleValidation.displayReason }}</td>
            </tr>
            <tr>
                <th>Displaymessage</th>
                <td>{{ simpleValidation.displayMessage }}</td>
            </tr>
        </table>

        <a class="btn btn-primary"
           href="{{ path('cms_simplevalidation_index',{slug:simpleValidation.category.slug}) }}">Back
            to the list</a>

        <a class="btn btn-warning"
           href="{{ path('cms_simplevalidation_edit', { 'id': simpleValidation.id }) }}">Edit</a>

        {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </section>
{% endblock %}
