{% extends '::admin.html.twig' %}

{% block content %}
    <section class="section">
        <div class="title-block">
            <h3 class="title">
                Edit column in {{ column.questionCategory.name }}<span class="sparkline bar" data-type="bar"></span>
            </h3>
        </div>

        {% include ':admin/column/includes:question_category_column_form.html.twig' with {form:form} %}
        <a href="{{ path('admin_cms_question_category_column_delete',{id: column.id}) }}" class="btn btn-danger">
            <i class="fa fa-remove"></i> Delete
        </a>
    </section>
{% endblock %}
