{% extends '::admin.html.twig' %}

{% block content %}
    <section class="section">
        <div class="title-block">
            <h3 class="title">
                Add new column in {{ questionGroup.name }}<span class="sparkline bar" data-type="bar"></span>
            </h3>
        </div>
        {% include ':admin/column/includes:question_category_column_form.html.twig' with {form:form} %}
    </section>
{% endblock %}