{% extends '::admin.html.twig' %}

{% block content %}
    <section class="section">
        <div class="title-block">
            <h3 class="title">
                Edit External List Validation Rule
            </h3>
        </div>
        {% include ':admin/listvalidation/includes:form.html.twig' %}

        {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Delete">
        {{ form_end(delete_form) }}

        <a class="btn btn-warning"
           href="{{ path('cms_listvalidation_index',{slug:category.slug}) }}">Back to the list</a>
    </section>
{% endblock %}



