{% extends '::admin.html.twig' %}

{% block content %}
    <section class="section">
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        <div class="row sameheight-container">
            <div class="col-xl-12">
                <div class="card sameheight-item items" data-exclude="xs,sm,lg">
                    <div class="card-header bordered">
                        <div class="header-block">
                            <h3 class="title">
                                Validation Rules
                            </h3>
                            <p class="title-description">
                                Extrenal Lists Validation rules in project: {{ category.name }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'admin/listvalidation/includes/autoRunExternalListValidations.html.twig' %}

    {% include 'admin/listvalidation/includes/notAutoRunExternalListValidations.html.twig' %}

{% endblock %}
