{% extends '::admin.html.twig' %}

{% block content %}
    <section class="section">
        <div class="title-block">
            <h3 class="title">
                Show External List Validation Rule
            </h3>
        </div>
        <table class="table table-striped table-bordered table-hover table-responsive">
            <tr>
                <th>Type</th>
                <td>{{ simpleValidation.type }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ simpleValidation.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ simpleValidation.description }}</td>
            </tr>
            {% if  simpleValidation.sourceList %}
                <tr>
                    <th>Source List ID</th>
                    <td>{{ simpleValidation.sourceList }}</td>
                </tr>
            {% endif %}
            {% if  simpleValidation.sourceField %}
                <tr>
                    <th>Source Column</th>
                    <td>{{ simpleValidation.sourceField }}</td>
                </tr>
            {% endif %}

            {% if simpleValidation.externalList %}
                <tr>
                    <th>External List for comparison</th>
                    <td>{{ simpleValidation.externalList.name }}</td>
                </tr>
            {% endif %}
            {% if simpleValidation.compareTo %}
                <tr>
                    <th>Compare To Column</th>
                    <td>{{ simpleValidation.compareTo }}</td>
                </tr>
            {% endif %}

            <tr>
                <th>Pass Message</th>
                <td>{{ simpleValidation.displayCode }}</td>
            </tr>
            <tr>
                <th>Error Message</th>
                <td>{{ simpleValidation.displayReason }}</td>
            </tr>
        </table>

        <a class="btn btn-primary"
           href="{{ path('cms_listvalidation_index',{slug:simpleValidation.category.slug}) }}">Back
            to the list</a>

        <a class="btn btn-warning"
           href="{{ path('cms_listvalidation_edit', { 'id': simpleValidation.id }) }}">Edit</a>

        {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </section>
{% endblock %}


