{{ form_start(form) }}
<div class="card card-block">
    {{ form_errors(form) }}
    <div class="form-group row">
        {{ form_label(form.name, null, {label_attr:{class:'col-sm-2 form-control-label text-xs-right'}}) }}
        <div class="col-sm-10">
            {{ form_widget(form.name,{attr:{class:'form-control boxed'}}) }}
            {{ form_errors(form.name) }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.description, null, {label_attr:{class:'col-sm-2 form-control-label text-xs-right'}}) }}
        <div class="col-sm-10">
            {{ form_widget(form.description,{attr:{class:'form-control boxed'}}) }}
            {{ form_errors(form.description) }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.externalList, null, {label_attr:{class:'col-lg-2 form-control-label text-xs-right'}}) }}
        <div class="col-lg-10">
            <label>
                {{ form_widget(form.externalList,{attr:{class:'checkbox'}}) }}
                <span> </span>
            </label>
        </div>

    </div>
    <div class="form-group row">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-success">
                Submit
            </button>
        </div>
    </div>
</div>
{{ form_end(form) }}