{% extends '::admin.html.twig' %}

{% block content %}
    <section class="section">
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}

        <div class="row sameheight-container">
            <div class="col-xl-12">
                <div class="card sameheight-item stats" data-exclude="xs" style="height: 315px;">
                    <div class="card-block">
                        <div class="title-block">
                            <h4 class="title">
                                Project: {{ report.category.name }}/ Sheet: {{ report.name }} ({{ report.sheetName }})
                            </h4>
                            <p class="title-description">
                                Add Question groups which could be processed in the selected excel sheet
                            </p>
                        </div>
                        <div class="card-header">
                            <div class="header-block">
                                <h3 class="title">
                                    Question groups
                                </h3>
                                <a href="{{ path('admin_cms_question_category_new',{id: report.id}) }}" class="btn btn-primary btn-sm rounded">
                                    Add new
                                </a>
                            </div>
                        </div>

                        <div class="row row-sm" style="padding-left: 20px">
                            <div class="col-lg-12">
                                <div class="row" style="font-weight: bold; padding-top: 15px;  border-top: 1px solid #d7dde4;">
                                    <div class="col-lg-3">Name</div>
                                    <div class="col-lg-3">Description</div>
                                    <div class="col-lg-3">Rows</div>
                                    <div class="col-lg-3">Actions</div>
                                </div>
                                <hr>
                                {% for group in report.questionCategories %}
                                    <div class="row">
                                        <div class="col-lg-3">{{ group.name }}</div>
                                        <div class="col-lg-3">{{ group.description }}</div>
                                        <div class="col-lg-3">
                                            {% if group.rows %}
                                                {{ group.rows }}
                                            {% else %}
                                                {{ group.rowStart }} - {{ group.rowEnd }}
                                            {% endif %}
                                        </div>
                                        <div class="col-lg-3">
                                            <a href="{{ path('admin_cms_question_category_edit',{id:group.id}) }}"
                                               title="Edit"><i class="fa fa-pencil"></i></a>
                                            <a href="{{ path('admin_cms_column_new',{questionCategoryId:group.id}) }}"
                                               title="Add Column"><i class="fa fa-table"></i></a>
                                        </div>
                                    </div>
                                    {% if group.columns|length>0 %}
                                        <div class="row" style="font-weight: bold">
                                            <div class="col-lg-3"></div>
                                            <div class="col-lg-3">
                                                Title
                                            </div>
                                            <div class="col-lg-3">
                                                Column
                                            </div>
                                            <div class="col-lg-3">
                                                Actions
                                            </div>
                                        </div>
                                        {% for column in group.columns %}
                                            <div class="row">
                                                <div class="col-lg-3"></div>
                                                <div class="col-lg-3">
                                                    {{ column.name }}
                                                </div>
                                                <div class="col-lg-3">
                                                    {{ column.col }}
                                                </div>
                                                <div class="col-lg-3">
                                                    <a href="{{ path('admin_cms_column_edit',{id: column.id}) }}"
                                                       title="Edit Column">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <hr>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}